set default="0"
set timeout=3

search --set=root --file /live/vmlinuz

menuentry "EasyXerox Kiosk OS (UEFI Live Appliance)" {
    linux /live/vmlinuz boot=live components quiet splash console=tty1 audit=0
    initrd /live/initrd.img
}
