default live
prompt 0
timeout 30

label live
  menu label ^EasyXerox Kiosk OS (Live Appliance)
  linux /live/vmlinuz
  initrd /live/initrd.img
  append boot=live components quiet splash loglevel=3 nosgx audit=0 console=tty3
