default live
prompt 0
timeout 30

label live
  menu label ^EasyXerox Kiosk OS (Live Appliance)
  linux /live/vmlinuz
  initrd /live/initrd.img
  append boot=live components quiet splash console=tty1 audit=0
